.basket {
    min-height: 90vh;
    display: flex;
    flex-direction: column;

    &__header {
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;

          & button {
              font-size: 2rem;
              font-weight: 600;
              text-align: center;
              border: none;
              background-color: transparent;
            padding: 0 1rem;
              
          }
          .active {
                  border-bottom: 0.2rem solid $clr-black;
              }
    }

}